node_modules/
dist/*
.astro/*
__pycache__/

.env
.env.*

npm-debug.log*

.terraform/
*.tfstate
*.tfstate.*
tfplan
terraform/*.zip
deploy/backend-lambdas/*.zip
src/backend/analytics_validator/bootstrap
src/backend/aggregate_views/bootstrap
src/backend/get_views/bootstrap
